.formgroup-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.container {
  padding: 20px;
}

.note-error {
  margin: 20px;
  display: flex;
  justify-content: center;
  color: #f54052;
  height: 20px;
}
